<div class="dashboard-layout">
  <!-- NAVBAR -->
  <header class="navbar">
    <img src="assets/images/logos/OIP-removebg-preview.png" class="imggg" />

   


    <!-- Menu Profil -->
    <div class="profile-menu" *ngIf="toggleProfileMenu">
      <a routerLink="dashboard/superieur/profil">Modifier profil</a>
      <a routerLink="/dashboard/RH/changer-mot-de-passe">Changer mot de passe</a>
      <a (click)="logout()" style="cursor: pointer;">Quitter</a>
    </div>
  </header>




<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidebar">
      <div class="logo">
        <img src="assets/images/logos/OIP (1).jpeg" alt="Dashboard Logo" />
      </div>

      <div class="nav-wrapper">
        <div class="nav-section">
          <h3>Home</h3>
          <mat-nav-list>
            <mat-list-item routerLink="/dashboard" routerLinkActive="active">
              <a>
                <iconify-icon icon="solar:atom-line-duotone" style="font-size: 20px;"></iconify-icon>
                Dashboard
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div class="nav-section">
          <h3>Apps</h3>
          <mat-nav-list>
            <mat-list-item routerLink="/dashboard/RH/reponse-demande" routerLinkActive="active-link">
              <a>
                <iconify-icon icon="solar:chat-round-line-line-duotone" style="font-size: 20px;"></iconify-icon>
               Liste des demandes
              </a>
            </mat-list-item>

            <mat-list-item routerLink="/dashboard/RH/listeuser" routerLinkActive="active-link">
              <a>
                <iconify-icon icon="solar:users-group-rounded-outline" class="user-list-item" style="font-size: 22px;"></iconify-icon>
                Utilisateurs
              </a>
            </mat-list-item>
              
                   <mat-list-item routerLink="/dashboard/RH/fournisseurs" routerLinkActive="active-link">
              <a>
                
                     <iconify-icon icon="mdi:truck-outline" style="font-size: 20px; color: #2563eb;"></iconify-icon>
         
                 liste des Fourniseur  
              </a>
            </mat-list-item >
            <mat-list-item routerLink="/dashboard/RH/card" routerLinkActive="active-link">
              <a>
                <iconify-icon icon="solar:calendar-mark-line-duotone" style="font-size: 20px;"></iconify-icon>
                Calendar
              </a>
         
            </mat-list-item>

            <mat-list-item   routerLink="/dashboard/RH/invitation" routerLinkActive="active-link">
              <a>
                <iconify-icon icon="solar:letter-line-duotone" style="font-size: 20px;"></iconify-icon>
                liste des invitations
              </a>
            </mat-list-item>

            <mat-list-item>
              <a>
                <iconify-icon icon="solar:phone-outline" style="font-size: 22px;"></iconify-icon>
                Contacts
              </a>
            </mat-list-item>

            <mat-list-item>
              <a>
                <iconify-icon icon="solar:user-id-line-duotone" style="font-size: 20px;"></iconify-icon>
                Employee
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div class="nav-section">
          <h3>Pages</h3>
          <mat-nav-list>
            <mat-list-item   routerLink="/dashboard/superieur/profil" routerLinkActive="active-link">
              <a>
                <iconify-icon icon="solar:accessibility-line-duotone" style="font-size: 20px;"></iconify-icon>
                Account Setting
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div class="nav-section">
          <h3>Auth</h3>
          <mat-nav-list>
            <mat-list-item>
              <a>
                <iconify-icon icon="solar:round-alt-arrow-right-line-duotone" style="font-size: 20px;"></iconify-icon>
                Login
              </a>
            </mat-list-item>
            <mat-list-item>
              <a>
                <iconify-icon icon="solar:user-plus-rounded-line-duotone" style="font-size: 20px;"></iconify-icon>
                Register
              </a>
            </mat-list-item>
            <mat-list-item>
              <a>
                <iconify-icon icon="solar:password-outline" style="font-size: 22px;"></iconify-icon>
                Mot de passe Oublier
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>

    </div>
  </mat-sidenav>
  
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
</div>