.fournisseur-container {
  padding: 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: #1a214d;
    }

    button {
   background-color: #1a214d;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding: 6px 18px;
    text-transform: none;
    
      letter-spacing: 0.5px;

      transition: all 0.3s ease;

      mat-icon {
        margin-right: 6px;
      }

      &:hover {
       
        transform: scale(1.02);
      }
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 28px;
  }

  .card {
    background: #ffffff;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 14px 36px rgba(0, 0, 0, 0.12);
    }

    .profile-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin: 20px auto 12px;
      display: block;
      border: 3px solid #0072bb;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    mat-card-content {
      text-align: center;


      .name {
        font-size: 20px;
        font-weight: 700;
        color: #1a214d;
        margin-bottom: 14px;
      }

      .info-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 5px 0;
        font-size: 14px;
        color: #555;

        mat-icon {
          color: #0072bb;
          font-size: 18px;
        }
      }
    }

    .action-row {
      display: flex;
      justify-content: center;
      margin-top: 18px;

      button {
        
        color: rgb(85, 84, 84);
        border-radius: 50%;
        padding: 14px;
        font-weight: 900px;
        font-size: 14px;
       
        border-color: #ea527e;
        text-transform: none;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        iconify-icon {
          font-size: 18px;
          margin-right: 6px;
          color: #d1426f;
        }

        &:hover {
          transform: scale(1.05);
          color: #d0a6b2;
         
        }
      }
    }
  }

  .no-data {
    text-align: center;
    margin-top: 40px;
    color: #999;
    font-style: italic;
    font-size: 16px;
  }
}
