<h2 mat-dialog-title>Modifier votre profil</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="prenom">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="annuler()">Annuler</button>
  <button mat-raised-button color="primary" (click)="enregistrer()" [disabled]="form.invalid">Enregistrer</button>
</mat-dialog-actions>
