
  * {
    box-sizing: border-box;
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
  }

  .page-container {
    min-height: 100vh;
    padding: 20px;
  }

  .content-card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    width: 100%;
    overflow-x: auto;
  }

  .header-utilisateur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .search-bar {
    padding: 10px 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    width: 300px;
    background-color: #fff;
    color: #1A1C3A;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    color: #1A1C3A;
    font-size: 15px;
  }

  .styled-table thead {
    background: #0072bb;
    color: white;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .styled-table tbody tr:hover {
    background-color: #e9f5ff;
  }
  
  button[mat-flat-button] {
    background: #0072bb;
    color: white !important;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }

  button[mat-flat-button]:hover {
    opacity: 0.9;
  }

  button[mat-icon-button] {
    background: none;
    border: none;
    cursor: pointer;
    color:#ea527e ;
    font-size: 30px;
  }

  mat-icon {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    .search-bar {
      width: 100%;
    }

    .styled-table th,
    .styled-table td {
      padding: 10px;
      font-size: 14px;
    }

    .header-utilisateur {
      flex-direction: column;
      align-items: stretch;
    }


  }
