<body>
  <div class="page-container">
    <div class="content-card">
      <!-- En-tête -->
      <div class="header-utilisateur">
        <input type="text" class="search-bar" placeholder="Rechercher un événement..." />
        <button mat-flat-button (click)="openAjoutDialog()" class="dropdown-button">
          Demander un événement
          <span [class.arrow-up]="isDialogOpen" [class.arrow-down]="!isDialogOpen"></span>
        </button>
      </div>

      <!-- Tableau -->
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Lieu</th>
            <th>Coût</th>
            <th>Catégorie</th>
            <th>Importance</th>
            <th>Status</th>
            <th>Commentaire</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody *ngIf="evenements && evenements.length > 0; else noEvents">
          <tr *ngFor="let event of evenements">
            <td>{{ event.idEvenement }}</td>
            <td>{{ event.titre }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.dateDebut | date: 'shortDate' }}</td>
            <td>{{ event.dateFin | date: 'shortDate' }}</td>
            <td>{{ event.lieu }}</td>
            <td>{{ event.cout }} TND</td>
            <td>{{ event.categorieEvenement }}</td>
            <td>{{ event.degreImportance }}</td>
            <td >{{ event.statusValidation }}</td>

           
<td>
            

  <button
    mat-icon-button
    *ngIf="event.statusValidation === 'VALIDEE'"
    (click)="ouvrirDialogDetailValidation(event)"
    matTooltip="Voir détails validation RH"
  >
    <mat-icon>info</mat-icon>
  </button>
  <span *ngIf="event.statusValidation !== 'VALIDEE'">-</span>



              <!-- Bouton voir commentaire -->
              <button
                mat-icon-button
                *ngIf="event.commentaireRh"
                (click)="ouvrirDialogCommentaire(event.commentaireRh)"
                aria-label="Voir commentaire"
                matTooltip="Voir commentaire" ><mat-icon>chat_bubble_outline</mat-icon>
              </button>

              <!-- Texte si aucun commentaire -->
              <span *ngIf="!event.commentaireRh">-</span>
          
</td>
              <td>
              <button mat-icon-button (click)="ouvrirDialogModification(event)" title="Modifier">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>

        <!-- Si aucun événement -->
        <ng-template #noEvents>
          <tr>
            <td colspan="12" style="text-align: center;">Aucun événement trouvé</td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</body>
