


<body>

 <div class="page-container">
  <div class="content-card">
    <!-- En-tête -->
    <div class="header-utilisateur">
      <input type="text" class="search-bar" placeholder="Rechercher..." />
      <button mat-flat-button (click)="openAjoutDialog()">  ➕ Ajouter Utilisateur</button>
    </div>

    <!-- Tableau -->
    <table class="styled-table">
      <thead>
        <tr> 
          <th>Photo</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Mot de passe</th>
          <th>Parent</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of utilisateurs">
            <td>
        <img src="assets/images/people/OIP.jpeg" alt="Photo utilisateur" class="user-photo" />
      </td>
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.email }}</td>
          <td>••••••••</td> <!-- Mot de passe masqué -->
          <td>{{ user.parent?.id || '-' }}</td>
          <td>{{ user.role }}</td>
          <td>
          <!-- ❌ Mauvais : (click)="supprimerUtilisateur(user.id)" -->
<!-- ✅ Bon : -->


<button mat-icon-button matTooltip="Modifier" class="btn-edit" (click)="openUpdateDialog(user)">
  <mat-icon class="icon-edit">edit</mat-icon>
</button>

 <button mat-icon-button matTooltip="Détails" class="btn-detail" (click)="openDetailDialog(user)">
  <mat-icon class="icon-info">info</mat-icon>
</button>

<button mat-icon-button matTooltip="Supprimer"  class="btn-delete" (click)="supprimerUtilisateur(user.idUser)">
  <mat-icon class="icon-delete">delete</mat-icon>

</button>




          </td>
        </tr>
      </tbody>
    </table>
    	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
