.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .row {
    display: flex;
    gap: 1rem;

    .w-50 {
      flex: 1;
    }
  }

  .w-100 {
    width: 100%;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;

  button[mat-flat-button] {
    background: linear-gradient(90deg, #7F3FBF, #7F3FBF);
    color: white;
    font-weight: 600;

    &:disabled {
       background: linear-gradient(90deg, #7F3FBF, #7F3FBF);
      color: #eeeeee;
      cursor: not-allowed;
    }
  }
}
